<div class="inner about">
    <div class="static">
        <h1>about worldphone</h1>

        <p>worldphone was born out of a need while i was studying abroad in <b>Valencia, Spain</b> in my sophomore year at <b>Florida State University</b>. i was in a crowded market with fellow <b>Spanish</b> students – doing an assignment where we were supposed to speak with vendors and artisans about their products. each of us had taken years of standard classes, knew <b>Spanish</b> grammar and vocabulary, but struggled putting sentences together because we had not spoken the language.</p>

        <p>after a few years of life, friends and colleagues of mine have built this service to provide a connection for you in your language learning journey.</p>

        <p>we are passionate about language learning. language learning, for each of us, has a different end goal. we could want to learn for business, travel, love, school or just interest in another culture.</p>

        <p>worldphone is a tiny solution to a big issue and we are trying to help you over the barrier by connecting you to other like-minded people. as you grow in your language ability, we hope to grow in our ability to serve you.</p>

        <p>if you need help navigating the site, have a question, or idea for improvement, please feel free to contact us at <a href="mailto:friend@worldphone.io?subject=hello%2C%20worldphone">friend@worldphone.io</a>. we’d be glad to help.</p>

        <p>thanks,
        <span class='sig'>-the world phone team</span></p>
    </div>
</div>
