<div class="inner faq">
    <div class="static">
        <h1>frequently asked questions</h1>

        <h2>what can worldphone do for me?</h2>

        <p>worldphone connects you to other language learners from around the world. users on worldphone are passionate about language and wish to improve or acquire a foreign language.</p>

        <h2>how does worldphone work?</h2>

        <p>to use worldphone.io, click signup, enter your information, and proceed through the signup survey. this helps us gather information about your language level in order to bring you a successful language learning experience.</p>

        <p>click make a call on the top bar, choose your language, and you will be connected with another language learner who wishes to practice the same language as you.</p>

        <p>following the call, each user will rate each other based on metrics. this helps you understand where your strengths and weaknesses are.</p>

        <h2>how do I change my username?</h2>

        <p>changing your username is easy. on your profile screen, simply click the username that you have been assigned. a box will appear and you will be able to edit username, location, or gender.</p>

        <h2>how do I change my password?</h2>

        <p>click the login button -> reset password on the home page. our system will send an e-mail to your registration e-mail allowing you to change your password.</p>

        <h2>how do ratings work?</h2>

        <p>ratings are an important part of worldphone. following each call, users can rate you based on various languages metrics. after every call, your rating is changed as you make more and more calls. we are working on improving the pairing of users so that you are matched up with someone on your language level.</p>

        <p>try get to those five star ratings!</p>

        <h2>will more languages be added to worldphone?</h2>

        <p>yes. as the application gains popularity, we plan on adding other major world languages. reach out to <a href="mailto:friend@worldphone.io?subject=hello%2C%20worldphone">friend@worldphone.io</a> to request a language that you would like to see!</p>

        <h2>how do I report another user for inappropriate behavior?</h2>

        <p>if a user is offensive and/or inappropriate during a call, you may report that user by ending the call and clicking report. this alerts us that this user was using the site inappropriately and helps us to clean our application. we’d also like if you would reach out to <a href="mailto:friend@worldphone.io?subject=hello%2C%20worldphone">friend@worldphone.io</a> and give a more specific account of the user’s actions. this will help us to prevent such actions from occurring to you and other users!</p>

        <h2>is there a mobile application for worldphone?</h2>

        <p>there is not currently a mobile application for worldphone, however we are looking to expand to mobile currently. our team is developing an <b>iOS</b> application and an <b>Android</b> application in the near future. stay tuned for updates!</p>
    </div>
</div>
