<div class="hello hero">
    <div class="inner">
        <hgroup class="alt">
            <h1>It's Time to Learn Globally.</h1>
            <h2>196 countries, language for all.</h2>
        </hgroup>
        <a ng-click="login()" class="big purple button">Sign Up</a>
    </div>
</div>

<div class="hero-chaser">
    <div class="inner">
        <div class="chaser">
            <h2>immersive learning</h2>
            <p>World Phone uses direct calls to let you immerse yourself with real speakers of the language you're trying to learn.</p>
        </div>
        <div class="chaser">
            <h2>new horizons</h2>
            <p>Our video calling system uses the latest in connective technologies to give you face-to-face sessions with others.</p>
        </div>
        <div class="chaser">
            <h2>global reach</h2>
            <p>Since World Phone is online, anyone anywhere can make a call. You just gained teachers from the whole world.</p>
        </div>
    </div>
</div>

<div class="newsletter hero">
    <div class="inner">
        <h3>Sign up for our newsletter now. Keep up to date on worldphone news.</h3>
        <fieldset>
            <label for="email">We only send out emails every month, and we'll never spam you, ever.</label>
            <div class="input-bar">
                <input id="email" type="email" />
                <button class="big button">Sign Up</button>
            </div>
        </fieldset>
    </div>
</div>
