
{% from "macros/_form.html" import render_form %}

{% extends 'user/layout.html' %}

{% block body %}

  <style type="text/css">
    input#submit {
      margin-top: 10px;
    }
  </style>

    <div class="row">
      <h3>&nbsp;</h3>
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

          <div class="panel panel-default">
              <div class="panel-heading">
                  <h1 class="panel-title">{{_('Change Password')}}</h1>
              </div>
              <div class="panel-body">
                <div>
                  {{ render_form(url_for('user.password'), form) }}
                </div>
              </div>
          </div>

        </div>
    </div>
{% endblock %}
