////////// New Call

.new-call .cards {
    $card-background: $secondary-background-color;
    $card-border-color:  darken($wild-sand, 10%);
    $card-border-size: 2px;
    $card-border: $card-border-size solid $card-border-color;
    $card-color: $light-font-color;
    $card-margin: $small-spacing;
    $card-padding: 1.5em;

    @include flex-row;
    @include flextra((wrap: wrap));

    .card-case {
        @include flex-child;
        @include flex-column; // For card height uniformity
    }

    h3 {
        color: $card-color;
        height: 1em;
        margin: 0 auto $small-spacing;
        text-align: center;
    }

    .card {
        @include flex-child(1, 0.5);
        @include flextra((align-self: center, basis: auto));
        @include flex-column; // For bottom button alignment
        background-color: $card-background;
        border: $card-border;
        border-radius: $base-border-radius;
        color: $card-color;
        margin: 0 $card-margin $base-spacing $card-margin;
        padding: $card-padding;
        max-width: 22em;

        @include media($small-screen) {
            max-width: 100%;
            width: 22em;
        }

        .card-body {
            @include flex-child;
        }

        img {
            $img-spacing: $card-padding + em($card-border-size);

            @include calc('max-width', "100% + (#{$img-spacing} * 2)"); // Left + Right
            @include calc('width', "100% + (#{$img-spacing} * 2)");     // Left + Right
            @include border-top-radius($base-border-radius);
            margin: (-$img-spacing);
            margin-bottom: $small-spacing;
        }

        button {
            @include clearfix;
            font-size: $small-font-size;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
        }
    }
}
