<p>Ready to join The World Phone, {{ username }}?</p>

<p>We received a request from you to create an account for "{{ username }}" with this email address.</p>

<p>To complete registration please follow the linkL</p>

<a href="{{ url }}">Verify Email</a>

<p>This link takes you to a secure page where you can verify your email and create your password</p>

<p>If you don't want to verify your account, please ignore this message. Your password will not be reset. If you have any concerns, please contact us at The World Phone Support.</p>

<p>The World Phone Team</p>
